<!DOCTYPE html>
<html>
<head>
  <title>ReactAndCheese</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class='main'>
    <div class='row'>
      <div class='col-sm-4'>
        <h1><%= link_to 'Cheese Factory', root_path %></h1>
      </div>
    </div>
  </header>
<%= react_component("Navigation") %>
<%= yield %>

</body>
</html>
